@import "vars";

/* Reset's all the values before any css loads */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-rendering: optimizeLegibility;
}


/* Sets the styling for the main body, sets all font to primary font */
body,html{
  margin: 0;
  font-family: $primaryFont;
  color:$black;
  overflow-x:hidden;
  @media #{$tablet}{
    font-size:20px;
  }
}

/* Class used alongside the hamburger menu, will attach itself to the body upon load. Prevents scrolling when the navigation menu has been opened */
.no-move{
  height:100vh;
  overflow:hidden;
  position: fixed;
  top:0;
  left:0;
}
/* Default container for the site */
.container{
  @media #{$laptop}{
    max-width:900px;
  }
  @media #{$desktop}{
    max-width:1024px;
  }
  @media #{$largeDesktop}{
    max-width:1280px;
  }
  width:100%;
  margin:0 auto;
}
