
/* Default styling for all buttons, all buttons will contain the same padding and shape */
.btn{
  padding:10px 20px;
  box-shadow: $shadow;
  font-family:$secondaryFont;
  margin-top:20px;
  display:table;
  border:2px solid;
  border-radius: 25px;

  text-decoration: none;
  transition: 0.2s ease-in-out;
}

/*
  Mixins are created to share classes publicly across all CSS. button dark and button light will be used as the two main buttons throughout all the portfolio */

@mixin btn-dark(){
  border-color:#d3dae9;
  color:#8fa1c7;
}

@mixin btn-light(){
  border-color:#fff;
  background:transparent;
  color:#fff;
}


/* Button dark will be for colour buttons present on white backgrounds */
.btn-dark{
  @include btn-dark();
  &:hover{
    background:darken(#ff2d55, 10%);
    border-color: transparent;
    color:$white;
  }
}

/* Button white will be for white buttons present on darker backgrounds */
.btn-light{
  @include btn-light();
  &:hover{
    background:$white;
    color:$primaryColor !important;
  }
}


/* Button group is a flex based class which will allow buttons to sit next to each other in a row, or convert to a column on a mobile screen */
.btn-group{
  @include display(flex);
  @include flex-direction(column);

  @media #{$tablet}{
    @include flex-direction(row);
  }
  .btn{
    margin-bottom:30px;
    @media #{$tablet}{
      margin-bottom:0;
      margin-right:20px;
    }
  }
}
