
/* Container small and container large will be used for multiple types of content, for example container small for a large amount of text, container large for images or wider split content. */
.container-sml{
  max-width:980px;
  width:100%;
  margin:0 auto;
}

.container-lrg{
  max-width:1250px;
  width:100%;
  margin:0 auto;
}
