/* The photography page is a simple flex grid which will display photo elements pulled in by instafeed.js */
.photography--group{
  @include display(flex);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  margin-bottom:30px;

  .photography-box{
    width:100%;
    @media #{$laptop}{
      width:31%;
    }
    margin-bottom:30px;
    .photo-box{
      height:350px;
      width:100%;
      background-size:cover;
      box-shadow: $shadow;

    }
    .photography-caption{
      padding:10px 20px;
      text-align: center;
    }
  }
}
